{% extends 'layout.html.twig' %}

{% block title %}Veille Informatique{% endblock %}

{% block body %}
 <h1 class="">Veille Informatique index</h1>
 <div class="container">
    {% for veille_info in veille_infos %}
    <div class="col-4 border mt-5 mb-5">
        <h4 class="text-center">{{ veille_info.titre }}</h4>
        <p class="text-center">{{ veille_info.description }}</p>
        <p>Lien: <a class="text-center" href="{{ veille_info.lien }}">{{ veille_info.lien }}</a></p>
        <div class="justify-content-around m-2">
            <button type="button" class="btn btn-danger">Je n'aime pas</button>
            <p class="bg-dark">{{ veille_info.note }}</p>
            <button type="button" class="btn btn-success">J'aime</button>
        </div>
    </div>
    {% else %}
        
    <div>
        <h2 >Pas d'articles, que c'est dommage !</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}